/*
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
$l_font: 'Cinzel', serif;
$ld_font: 'Cinzel Decorative', serif;
$p_font: 'Merriweather', serif;
$s_font: 'Merriweather Sans', sans-serif;
$t_font: 'Open Sans', sans-serif;


//$dark_blue:#111321;
$dark_blue_bg:#111321;
$dark_blue:#14182B;
$blue_dark:#152259;
$blue_slide: #1D233C;
$light_blue: #e1e7ff;
$gray_light: #f5f5f5;

$bg_color: $dark_blue_bg;

$white: #fff;
$yellow: #FEDF06;
$plufs: #FFBD59;
$peach: #FF914D;
$orange: #FEBC04;
$intense: #FE7802;
